.Main{
    position: relative;
    width: 400px;
    height: 250px;
    margin: 5 auto;
    display: inline-block;
    align-items: center;
    border-radius: 50px;
}
img{
    width: 400px;
    height: 250px;
    position: absolute;
    border-radius: 50px;
    

}
h1{
    position: absolute;
    color:white;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    top : 90px;
    text-shadow: 1rem;
    width: 400px;

} 
.title{
    position: absolute;
    color:white;
    text-align: center;
    z-index: 3;
    width: 400px;
    height: 250px;
    opacity: 0;
    top: 20px;
    font-weight: 100px;

}
.Main:hover .title{
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 250px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 50px;
  }
  .Main:hover .overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }